@model IEnumerable<WebApplication3.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
}

<h1>Categoria</h1>

<p>
    <button type="button" class="btn btn-success"><a asp-action="Create">Novo</a></button>
</p>
<table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
        <tr>
            <th>
                Descriação
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descriacao)
            </td>
            <td>
                <button type="button" class="btn btn-warning"><a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a></button>
                <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
